* {margin:0;padding:0;}
a:link, a:visited, a:hover, a:active {color:black;font-size:16px;}
body {background:#eee;font-family:verdana;}
h1 {color:maroon;font-size:16px;}
h2 {color:#333;font-size:14px;}
ul {list-style-type:none;}
.burdeo {font-size:20px;}
td {padding:4px;}
.td-ancho {width:100%;}

#cabecera {color:#fff;background-color:#999;padding:10px;width:940px;}
#contenedor {margin:0 auto;width:1200px;}
#contenido {
	background:#ddd;
	float:left;
	width:750px;
	height:880px;
	padding:10px;
	}
#menu {
	background:#999;
	float:left;
	width:150px;
	height:860px;
	padding:20px;
	}
#pie {
	background:#bbb;
	clear:both;
	color:#900;
	padding:10px;
	text-align:center;
	}