body {font-family:verdana;}
table, td, th {border:1px solid black;}
table {border-collapse:collapse;}
td, th {padding:10px;}
th {color:white;font-size:12px;}
thead {background:#666;}
tbody {background:#fff;font-size:12px;}
tfoot {background:#ccc;font-size:12px;}
h1 {color:#333;font-size:20px;}
h2 {color:#666;font-size:16px;}
a, p, li {font-size:12px;}
a {color:blue;}
caption {font-size:14px;}
